/*
 * Typography
 */

h1 {
  padding-bottom: 9px;
}

/*
 * Sidebar
 */

.sidebar {
  position: fixed;
  background-color: #f7f7f7;
  height: 100%;
  left: 0;
  z-index: 1000;
  padding: 20px;
  overflow-x: hidden;
  overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
  border-right: 1px solid #eee;
}

/* Sidebar navigation */
.sidebar {
  padding-left: 0;
  padding-right: 0;
}

.sidebar .nav {
  margin-bottom: 20px;
}

.sidebar .nav-item {
  width: 100%;
}

.sidebar .nav-item + .nav-item {
  margin-left: 0;
}

.sidebar .nav-link {
  border-radius: 0;
}

.table-responsive {
  height: calc(100vh - 90px);
  overflow-y: auto;
  border: 2px solid #dee2e6;
}

.loader-table {
  height: calc(100vh - 90px);
  border: 2px solid #dee2e6;
}

.emptyBlocking {
  height: calc(100vh - 110px);
}

.scale:hover {
  padding-top: 5px;
  transform: scale(2);
 }